<div class="container">
  <h4 class="page-title">Events</h4>
  <div *ngIf="store.events">
    <div class="row event-list">
      <ul>
        <li *ngFor="let event of store.events" class="col s12 l6">
          <a [routerLink]="['/events', event._id]">
            <div class="card">
              <div class="card-content row">
                <div class="col s4 m2 l3 event-date" *ngIf="event.date">
                  <div class="row">
                    <span class="col s12 day">{{event.date | date:'dd'}}</span>
                    <span class="col s12 month">{{event.date | date:'MMM'}}</span>
                  </div>
                </div>
                <div class="col s8 m10 l9 event-details">
                  <h3 class="card-title truncate" *ngIf="event.name">{{event.name}}</h3>
                  <div class="event-location">
                    <p class=" truncate" *ngIf="event.location.name">{{event.location.name}}</p>
                  </div>
                  <p class="further-link">
                    mehr Informationen
                    <i class="material-icons prefix">keyboard_arrow_right</i>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="!(store.events)">
    <div class="row">
      <p class="no-items-message">Derzeit gibt es leider keine aktuellen Events.</p>
    </div>
  </div>
</div>
