<div *ngIf="product">
  <div class="row">
    <div class="col l6 m6 s12">
      <h6 *ngIf="category">{{category.name}}</h6>
      <h4>{{product.name}}</h4>
      <h5>
        {{product.availableAt.fromPeriod}} {{product.availableAt.fromMonth}} - {{product.availableAt.toPeriod}} {{product.availableAt.toMonth}}
      </h5>
    </div>
    <div class="col l6 m6 s12">
      <img class="col l8 m8 s8 right" src="assets/dummy_img.jpg">
    </div>
  </div>
  <div *ngIf="vendor" class="row">
    <vendor-short-info [vendor]="vendor"></vendor-short-info>
  </div>
</div>
