<mz-modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header *ngIf="category">
    Event bearbeiten
  </mz-modal-header>
  <mz-modal-header *ngIf="!category">
    Event hinzufügen
  </mz-modal-header>
  <mz-modal-content>
    <div>
      <form materialize [formGroup]="eventForm">
        <div class="row">
          <h6>Grunddaten</h6>
          <mz-input-container class="input-field col s12 m6 form-group">
            <input mz-input id="event-name" type="text" formControlName="name" [label]="'Name'" [validate]="true" required>
          </mz-input-container>
          <mz-input-container class="input-field col s12 m6 form-group">
            <input mz-input id="event-date" class="datepicker" data-date-format="DD-MMMM-YYYY" type="date" formControlName="date" [label]="'Datum'" [validate]="true" required>
          </mz-input-container>
        </div>
        <div class="row">
          <h6>Beschreibung</h6>
          <mz-textarea-container>
            <textarea mz-textarea [label]="'Beschreibung'" id="event-description" formControlName="description" length="150"></textarea>
          </mz-textarea-container>
        </div>
        <div class="row">
          <h6>Location</h6>
          <div formGroupName="location">
            <mz-input-container class="input-field col s12 m6 form-group">
              <input mz-input id="event-location-name" type="text" formControlName="name" [label]="'Name'" [validate]="true">
            </mz-input-container>
            <mz-input-container class="input-field col s12 m3 form-group">
              <input mz-input id="event-location-lat" type="number" step="0.000001" formControlName="lat" [label]="'Breitengrad'" [validate]="true">
            </mz-input-container>
            <mz-input-container class="input-field col s12 m3 form-group">
              <input mz-input id="event-location-long" type="number" step="0.000001" formControlName="long" [label]="'Längengrad'" [validate]="true">
            </mz-input-container>
          </div>
        </div>
      </form>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="submit()"  [disabled]="!eventForm.valid">Speichern</button>
    <button mz-button [flat]="true" mz-modal-close>Abbrechen</button>
  </mz-modal-footer>
</mz-modal>
