<nav>
  <div class="nav-wrapper row">
    <div class="col s2 m1 hide-on-large-only">
      <div [id]="'btn-sidenav'" class="button-collapse">
        <i class="large material-icons">menu</i>
      </div>
    </div>
    <div class="col s10 m11 l2">
      <img src="assets/logo.png" alt="Logo" class="logo s2" [routerLink]="['']">
    </div>
    <div class="col l10 hide-on-med-and-down">
      <ul id="nav-mobile" class="right">
        <li *ngIf="this.LoginStore.isLoggedIn()"><a [routerLink]="['admin']">Admin-Dashboard</a></li>
        <li><a [routerLink]="['produzenten']">Produzenten</a></li>
        <li><a [routerLink]="['produkte']">Produkte</a></li>
        <li><a [routerLink]="['events']">Events</a></li>
        <!-- <li><a [routerLink]="['rezepte']">Rezepte</a></li> -->
      </ul>
    </div>
  </div>
</nav>
