@import "../../assets/variables";

nav {
  background-color: @white-color;
  color: @midgrey-color;
  height: @header-height;
  .nav-wrapper {
    height: 100%;
    margin-bottom: 0;
    .logo {
      height: 50px;
      vertical-align: bottom;
    }
    a {
      color: @primary-color;
    }
  }
}
