<nav>
  <div class="nav-wrapper row">
    <div class="col s2 m1 hide-on-large-only valign-wrapper">
      <div [id]="'btn-sidenav'" class="button-collapse valign-wrapper">
        <i class="large material-icons">menu</i>
      </div>
    </div>
    <div class="col s10 m11 l2 valign-wrapper">
      <img src="assets/logo.png" alt="Logo" class="logo s2" [routerLink]="['']">
    </div>
    <div class="col l7 hide-on-med-and-down">
      <ul class="right nav-med-and-up">
        <li *ngIf="this.LoginStore.isAdmin()" [routerLinkActive]="['active']"><a [routerLink]="['admin']">Admin-Dashboard</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['produzenten']">Produzenten</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['produkte']">Produkte</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['events']">Events</a></li>
        <!-- <li><a [routerLink]="['rezepte']">Rezepte</a></li> -->
      </ul>
    </div>
    <div class="col l3 hide-on-med-and-down">
      <search-field></search-field>
    </div>
  </div>
</nav>
