<div *ngIf="category">
  <div class="row">
    <div class="col l6 m6 s12">
      <h3>
        {{category.name}}
      </h3>
    </div>
    <div class="col l6 m6 s12">
      <img class="col l8 m8 s8 right" src="assets/dummy_img.jpg">
    </div>
  </div>
  <div class="row">
    <h5>Produkte von Produzenten</h5>
    <hr>
    <ul class="row">
      <li *ngFor="let product of store.categoryProducts" class="col s12 m4 l3 xl2">
        <a [routerLink]="['/produkt', product._id]">
          <div class="card">
            <div class="card-image">
              <img class="activator" src="assets/dummy_img.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{product.name}}</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
