@import "../../assets/variables"; // mobile-first

.search {
  height: 100%;

  .input-field {
    height: 50%;

    .search-box {
      border: 1px solid @lightgrey-color;
      border-radius: 20px;
      padding: 3px 5px;

      i {
        font-size: 25px;
        height: 30px;
        line-height: 30px;
        color: @lightgrey-color;
      }

      input.search-input {
        margin: 0;
        border: 0;
        padding-left: 40px;
        font-size: 14px;
        height: 30px;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
@media @medium-and-up {
  // styles for medium screens and larger
}
@media @large-and-up {
  // styles for large screens and up
}
