<mz-modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header *ngIf="product">
    Produkt bearbeiten
  </mz-modal-header>
  <mz-modal-header *ngIf="!product">
    Produkt hinzufügen
  </mz-modal-header>
  <mz-modal-content>
    <div>
      <form materialize [formGroup]="productForm">
        <div class="row">
          <h6>Verfügbarkeit</h6>
          <mz-select-container class="input-field col s6 m3 form-group">
            <select mz-select [placeholder]="'von Periode'" id="product-fromPeriod" formControlName="fromPeriod">
              <option *ngFor="let p of periods" value="{{p}}">{{p}}</option>
            </select>
          </mz-select-container>
          <mz-select-container class="input-field col s6 m3 form-group">
            <select mz-select [placeholder]="'von Monat'" id="product-fromMonth" formControlName="fromMonth">
              <option *ngFor="let m of months" value="{{m}}">{{m}}</option>
            </select>
          </mz-select-container>
          <mz-select-container class="input-field col s6 m3 form-group">
            <select mz-select [placeholder]="'bis Periode'" id="product-toPeriod" formControlName="toPeriod">
              <option *ngFor="let p of periods" value="{{p}}">{{p}}</option>
            </select>
          </mz-select-container>
          <mz-select-container class="input-field col s6 m3 form-group">
            <select mz-select [placeholder]="'bis Monat'" id="product-toMonth" formControlName="toMonth">
              <option *ngFor="let m of months" value="{{m}}">{{m}}</option>
            </select>
          </mz-select-container>
        </div>
        <div class="row">
          <h6>Grunddaten</h6>
          <mz-input-container class="input-field col s12 m6 form-group">
            <input mz-input id="product-name" type="text" formControlName="name" [label]="'Name'" [validate]="true">
          </mz-input-container>
          <mz-select-container class="input-field col s12 m6 form-group">
            <select mz-select [placeholder]="'Kategorie'" id="product-categoryId" formControlName="categoryId">
              <option *ngFor="let category of this.CategoryStore.categories" value="{{category._id}}" data-icon="assets/category.png" class="left circle">{{category.name}}</option>
            </select>
          </mz-select-container>
        </div>
        <div class="row">
          <h6>Bild</h6>
          <div class="input-field col s12 form-group">
            <div class="file-field input-field">
              <div class="btn orange">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" formControlName="imageUrl" type="text">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="product ? this.updateProduct(product) : this.newProduct()" mz-modal-close>Speichern</button>
    <button mz-button [flat]="true" mz-modal-close>Abbrechen</button>
  </mz-modal-footer>
</mz-modal>
