<div class="row" *ngIf="(store.postits | postitConfirmedPipe: confirmed)">
  <ul class="row collection">
    <li *ngFor="let postit of (store.postits | postitConfirmedPipe: confirmed)" class="collection-item row">
      <div class="col s2 postit-image">
        <img class="circle responsive-img" src="assets/{{postit.imageUrl}}">
      </div>
      <div class="col s8 postit-details">
        <h3 class="postit-title">{{postit.name}}</h3>
        <p class="postit-location" *ngIf="postit.location">{{postit.location}}</p>
      </div>
      <div class="col s2 secondary-content">
        <a (click)="selectPostit(postit)" class="secondary-content"><i class="material-icons">settings</i></a>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="!(store.postits | postitConfirmedPipe: confirmed)">
  <div class="row">
    <p class="no-items-message">Derzeit gibt es leider keine aktuellen <span *ngIf="confirmed">Angebote</span><span *ngIf="!confirmed">Anfragen</span>.</p>
  </div>
</div>
