<div class="imprint container">
  <div class="row">
    <h4 class="page-title">Impressum</h4>
    <div class="row">
      <img src="assets/imprint/fhs-logo.png" alt="fhs-logo" class="responsive-img">
      <p>Dieses Projekt entstand im Zuge des Abschlussprojektes (MMP) der FH-Salzburg. Das Projektteam besteht Studiengangsübergreifend aus drei Studentinnen von MMA (MultimediaArts) und zwei StundentInnen von MMT (MultimediaTechnology). <br> Als Auftraggeber fungiert das Lungauer Kochwerk mit Unterstützung von Max Torsch.</p>
    </div>
    <div class="row">
      <h5>FH-Team</h5>
      <h6>Medien-Design & Konzept</h6>
      <ul>
        <li>Eva-Maria Schitter</li>
        <li>Elisa Gostner</li>
      </ul>
      <h6>Fotografie</h6>
      <ul>
        <li>Sabrina Stummer</li>
      </ul>
      <h6>Web-Development</h6>
      <ul>
        <li>Bernhard Steger</li>
        <li>Magdalena Wimmer</li>
      </ul>
    </div>
    <div class="row">
      <h5>In Zusammenarbeit mit</h5>
      <ul>
        <li>Lungauer Kochwerk</li>
      </ul>
    </div>
  </div>
</div>
