<mz-modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    Kategorie hinzufügen
  </mz-modal-header>
  <mz-modal-content>
    <div>
      <form #addCategoryForm materialize [formGroup]="categoryForm">
        <div class="row">
          <h6>Bild</h6>
          <div class="input-field col s12 form-group">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" formControlName="imageUrl" type="text">
              </div>
            </div>
          </div>
          <h6>Grunddaten</h6>
          <div class="input-field col s12 m6 form-group">
            <input id="category-name" type="text" class="validate" formControlName="name">
            <label for="category-name">Name</label>
          </div>
          <mz-select-container  class="input-field col s12 m6 form-group">
            <select mz-select [placeholder]="'Typ'" id="category-TypeId" formControlName="typeUid">
                <option *ngFor="let type of this.TypeStore.types" value="{{type._id}}" data-icon="assets/dummy_img.jpg" class="left circle">{{type.name}}</option>
            </select>
          </mz-select-container>
        </div>
      </form>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="this.newCategory(addCategoryForm)" mz-modal-close>Speichern</button>
    <button mz-button [flat]="true" mz-modal-close>Abbrechen</button>
  </mz-modal-footer>
</mz-modal>
