<div class="page-title">
  <h4>Produkte</h4>
  <h5>Lungauer Produktvielfalt entdecken!</h5>
</div>
<div class="container">
  <div *ngIf="store.categories">
    <div class="row category-list">
      <ul>
        <li *ngFor="let category of store.categories" class="col s12 m4 l3">
          <a [routerLink]="['/produkte', category._id]">
            <div class="card">
              <div class="card-image" *ngIf="category.imageUrl">
                <img class="activator" src="{{category.imageUrl}}">
              </div>
              <div class="card-content">
                <h3 class="card-title truncate" *ngIf="category.name">{{category.name}}</h3>
                <p class="further-link">
                  mehr
                  <i class="material-icons prefix">keyboard_arrow_right</i>
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="!store.categories">
    <div class="row">
      <p class="no-items-message">Derzeit gibt es leider keine aktuellen Produktkategorien.</p>
    </div>
  </div>
</div>
