<div class="row" *ngIf="store.categories">
  <ul class="row collection">
    <li *ngFor="let category of store.categories" class="collection-item avatar">
      <img class="circle" src="assets/dummy_img.jpg">
      <span class="title">{{category.name}}</span>
      <div class="secondary-content">
        <a (click)="selectCategory(category)"><i class="material-icons">mode_edit</i></a>
        <a (click)="deleteCategory(category)"><i class="material-icons">delete</i></a>
      </div>
    </li>
  </ul>
</div>
