@import "../../assets/less/variables"; // mobile-first

admin-category-list {
  ul.collection {
    .collection-item {
      .category-details {
        h3.category-title {
          margin: 0;
          font-size: 20px;
        }
      }

      .secondary-content {
        text-align: right;
      }
    }
  }
}
@media @medium-and-up {
  // styles for medium screens and larger
}
@media @large-and-up {
  // styles for large screens and up
}
