<div class="about container">
  <div class="row ">
    <div class="team-member">
      <img class="circle responsive-image" src="http://s3-eu-central-1.amazonaws.com/lungau/team/roswitha.jpg" alt="Roswitha">
      <h6>Roswitha</h6>
      <p>Projektleitung</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/rosemarie.jpg" alt="Rosemarie">
      <h6>Rosemarie</h6>
      <p>Projektleitung</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/jasmin.jpg" alt="Jasmin Pickl">
      <h6>Jasmin Pickl</h6>
      <p>Teammitglied</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/anna.jpg" alt="Anna">
      <h6>Anna</h6>
      <p>Teammitglied</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/katharina.jpg" alt="Katharina">
      <h6>Katharina</h6>
      <p>Teammitglied</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/gabi.jpg" alt="Gabi">
      <h6>Gabi</h6>
      <p>Teammitglied</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/christina.jpg" alt="Christina">
      <h6>Christina</h6>
      <p>Teammitglied</p>
    </div>
    <div class="team-member">
      <img class="circle responsive-image" src="https://s3.amazonaws.com/lungau/team/magdalena.jpg" alt="Magdalena">
      <h6>Magdalena</h6>
      <p>Teammitglied</p>
    </div>
  </div>
  <div class="row">
    <div class="about-text">
      <h4>Über uns</h4>
      <p>
        Der Verein Lungauer Kochwerk ist in seiner Grundform eine regionale Kochschule, die von Bäuerinnen aus dem Lungau im Herbst 2015 gegründet wurde und seitdem beherzt in seiner Entwicklung vorangeführt wird. Primäres Ziel ist es, über ein möglichst vielseitiges
        Kursangebot die Menschen wieder vermehrt zum selber-kochen anzuregen.
        <br> Jeder soll animiert werden, ob es nun die Profiköchinnen und -köche aus der Gastronomie, Schulkinder, Familien, Singles oder Gäste sind. Und der Gedanke ist dabei noch weitreichender: Über das Kochen soll zum einen die Wertschätzung für regionale
        Produkte und deren Erzeuger gesteigert werden. Zum anderen soll die Zusammenführung von Konsumenten, Produzenten und Verarbeiter forciert und das regionale Netzwerk dadurch erweitert und gefestigt werden. Die vermehrte Nachfrage führt idealerweise
        dazu, dass Bäuerinnen und Bauern zur Nischenproduktion animiert werden.
      </p>
    </div>
  </div>
</div>
