<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 footer-contact">
        <h5 class="row">Kontakt & Mehr</h5>
        <div class="row">
          <div class="col s6 offset-s3 footer-contact-data">
            <p class="row">
              <span class="col s12 m6 bold">Adresse:</span>
              <span class="col s12 m6">Lungauer Kochwerk<br>DI Jasmin Pickl</span>
            </p>
            <p class="row">
              <span class="col s12 m6 bold">Telefon:</span>
              <span class="col s12 m6">+43 664 75048599</span>
            </p>
          </div>
        </div>
        <div class="row footer-social-media">
          <a href="#">
            <img src="assets/icons/facebook.svg" alt="facebook">
          </a>
          <a href="#">
            <img src="assets/icons/instagram.svg" alt="instagram">
          </a>
        </div>
        <div class="row center footer-links">
          <a [routerLink]="['sitemap']">Sitemap</a>
          <a [routerLink]="['über-uns']">Über uns</a>
          <a [routerLink]="['impressum']">Impressum</a>
        </div>
      </div>
      <div class="col s12 m2 footer-button ">
        <button *ngIf="!this.LoginStore.isLoggedIn()" class="btn yellow" [routerLink]="['login']">Login</button>
        <button *ngIf="this.LoginStore.isLoggedIn()" class="btn yellow" (click)="this.LoginStore.logout(); this.LoginStore.navigateToLandingPage()">Logout</button>
      </div>
    </div>
  </div>
</footer>
