<footer class="page-footer">
  <div class="row footer-contact">
    <div class="container">
      <div class="divider"></div>
      <div class="col s12">
        <p>
          Roswita Prodinger <br> 9020 Tamsweg <br> Lungau <br><br> Tel: 0676/7248930
        </p>
      </div>
    </div>
  </div>
  <div class="row footer-copyright">
    <div class="container">
      <div class="">

      </div>
      <div class="">
        <button *ngIf="!this.LoginStore.isLoggedIn()" class="waves-effect waves-light btn right" [routerLink]="['login']">Login</button>
        <button *ngIf="this.LoginStore.isLoggedIn()" class="waves-effect waves-light btn right" (click)="this.LoginStore.logout()">Logout</button>
      </div>
    </div>
  </div>
</footer>
