<footer class="page-footer">
  <div class="row footer-copyright">
    <div class="container">
      <div class="col s12 m8 offset-m2">
        <h5 class="row center">Kontakt & Mehr</h5>
        <div class="row center">
          <p>
            <span class="col s6 right-align"><b>Adresse:</b></span>
            <span class="col s6 left-align">Lungauer Kochwerk<br>DI Jasmin Pickl</span>
          </p>
          <span class="col s6 right-align"><b>Telefon:</b></span>
          <span class="col s6 left-align">+43 664 75048599</span>
        </div>
        <div class="row center">
          <i class="material-icons">bookmark</i>
          <i class="material-icons">bookmark</i>
        </div>
        <div class="row center">
          <a [routerLink]="['sitemap']">Sitemap</a>
          <a [routerLink]="['über-uns']">Über uns</a>
          <a [routerLink]="['impressum']">Impressum</a>
        </div>
      </div>
      <div class="col s12 m2">
        <button *ngIf="!this.LoginStore.isLoggedIn()" class="btn right" [routerLink]="['login']">Login</button>
        <button *ngIf="this.LoginStore.isLoggedIn()" class="btn right" (click)="this.LoginStore.logout(); this.LoginStore.navigateToLandingPage()">Logout</button>
      </div>
    </div>
  </div>
</footer>
