@import "../../assets/variables"; // mobile-first

footer-bar {
  background-color: transparent;
  color: @primary-color;
  margin-top: 100px;

  .page-footer {
    background-color: @white-color;
    border-radius: 100% 100% 0 0;
    padding-top: 45px;
    height: 100%;

    .footer-contact {
      text-align: center;

      h5 {
        font-family: @third-font;
      }

      .footer-contact-data {
        font-size: 12px;
        span {
          display: inline-block;
          vertical-align: top;
        }
      }

      .footer-social-media {
        a {
          padding: 0 10px;

          img {
            color: @lightgrey-color;
            height: 30px;
            width: 30px;
          }
        }
      }

      .footer-links {
        a {
          font-family: @secondary-font;
          color: @lightgrey-color;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 11px;
          margin: 0 10px;
        }
      }
    }

    .footer-button {
      margin-top: 20px;
      text-align: center;
    }
  }
}
@media @medium-and-up {
  // styles for medium screens and larger
  footer-bar {
    .page-footer {
      background-image: url("./../../assets/visual.png");
      background-repeat: no-repeat;
      background-size: 15% auto;
      background-position: 10% 12em;

      .footer-contact {
        p {
          margin-bottom: 0;

          span {
            padding: 0 3px;

            &:first-of-type {
              text-align: right;
            }

            &:last-of-type {
              text-align: left;
            }
          }
        }

        .footer-social-media {
          margin-top: 30px;
        }
      }

      .footer-button {
        margin-top: 0;
        text-align: right;
        vertical-align: bottom;
      }
    }
  }
}
@media @large-and-up {
  // styles for large screens and up
  footer-bar {
    .page-footer {
      background-position: 15% 6em;
    }
  }
}
