<div class="row login">
  <form materialize class="col s10 offset-s1 m4 offset-m4" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container">
      <div class="row login-heading">
        <h4>Login</h4>
        <h5>Für Produzenten und Mitarbeiter des <br>
        Lungauer Kochwerks</h5>
      </div>
      <div class="row">
        <mz-input-container class="input-field col s12 form-group">
          <i class="material-icons prefix">perm_identity</i>
          <input mz-input id="login-mail" type="email" formControlName="email" [label]="'E-Mail'">
        </mz-input-container>
        <mz-input-container class="input-field col s12 form-group">
          <i class="material-icons prefix">lock_outline</i>
          <input mz-input id="login-password" type="password" formControlName="password" [label]="'Passwort'">
        </mz-input-container>
      </div>
      <div class="row">
        <button class="col s12 btn orange" type="submit" name="action">Login
      </button>
      </div>
    </div>
  </form>
</div>
