@import "../assets/variables";

body {
  background-color: @background-color;
  font-family: @primary-font normal;
  height: 100%;
  margin: 0;

  .main {
    padding: 20px 60px auto;
  }

  div.divider {
    background-color: @linegrey-color;
    height: 1px;
  }
}
