<div class="row">
  <div class="fullscreen">
    <img class="responsive-img" src="assets/dummy_img_long.jpg">
  </div>
</div>
<div class="row">
  <div class="col l12">
    <search-field></search-field>
  </div>
</div>
<div class="row">
  <h4>Schlachtbrett</h4>
  <postit-list [confirmed]="true"></postit-list>
</div>
<div class="row">
  <h4>Events</h4>
  <event-list></event-list>
</div>
<button class="btn" [routerLink]="['produkte']">Zu den Produkten</button>
<button class="btn" [routerLink]="['produzenten']">Zu den Produzenten</button>

<div class="row" *ngIf="currentPosition && vendorPositions || eventPositions">
  <div class="col s12">
    <ng2-map center="{{currentPosition}}" disableDoubleClickZoom="true" disableDefaultUI="true" zoom="12">
      <marker [position]="currentPosition" [icon]="{
          url: 'assets/currentLocation.png',
          anchor: [16,16],
          size: [32,32],
          scaledSize: [32,32]
        }" title="aktueller Standort"></marker>
      <marker *ngFor="let pos of vendorPositions" [position]="pos" [icon]="{
          url: 'assets/vendorLocation.png',
          anchor: [16,16],
          size: [32,32],
          scaledSize: [32,32]
        }" title="Produzent">
      </marker>
      <marker *ngFor="let pos of eventPositions" [position]="pos" [icon]="{
          url: 'assets/eventLocation.png',
          anchor: [16,16],
          size: [32,32],
          scaledSize: [32,32]
        }" title="Event"></marker>
    </ng2-map>
  </div>
</div>
