<div class="row">
  <div class="fullscreen cinemagraph valign-wrapper">
    <div class="row">
      <h1>Lungauer Speis</h1>
      <h3>Mei Werk, mei Gschmock!</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 landing-page-search">
      <div class="container">
        <h5>Suchen und Finden!</h5>
        <p>Was suchen Sie?</p>
        <search-field></search-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="landing-page-headline">
      <h4>Gustostückerl</h4>
      <h5>Zeitlich begrenzte Angebote aus der Speis</h5>
    </div>
    <postit-list [confirmed]="true"></postit-list>
  </div>
  <div class="divider"></div>
  <div class="row landing-page-eventlist">
    <h4>Termine & Veranstaltungen</h4>
    <event-list></event-list>
  </div>
  <div class="center">
    <button class="btn orange" [routerLink]="['produkte']">Zu den Produkten</button>
    <button class="btn yellow" [routerLink]="['produzenten']">Zu den Produzenten</button>
  </div>

  <div class="row current-position-map" *ngIf="currentPosition && (vendorPositions || eventPositions)">
    <div class="landing-page-headline">
      <h4>Aktueller Standort</h4>
      <h5>Finde Produzenten und Events in deiner Nähe!</h5>
    </div>
    <div class="row map">
      <ng2-map center="{{currentPosition}}" disableDoubleClickZoom="true" disableDefaultUI="true" zoom="12" scrollwheel="false">
        <marker [position]="currentPosition" [icon]="{
          url: 'assets/icons/currentLocation.png',
          anchor: [16,16],
          size: [32,32],
          scaledSize: [32,32]
        }" title="aktueller Standort"></marker>
        <marker *ngFor="let pos of vendorPositions" [position]="pos" [icon]="{
          url: 'assets/icons/vendorLocation.png',
          anchor: [16,16],
          size: [32,32],
          scaledSize: [32,32]
        }" title="Produzent">
        </marker>
        <marker *ngFor="let pos of eventPositions" [position]="pos" [icon]="{
          url: 'assets/icons/eventLocation.png',
          anchor: [16,16],
          size: [32,32],
          scaledSize: [32,32]
        }" title="Event"></marker>
      </ng2-map>
    </div>
  </div>
</div>
