// colors
@background-color: rgba(235,227,196, 0.5);
@primary-color: rgba(77,77,77, 1);
@secondary-color: rgba(209,201,186, 1);

@lightgrey-color: rgba(209,201,186, 1);
@midgrey-color: rgba(174,168,156, 1);
@linegrey-color: rgba(209,201,186, 1);

@white-color: rgba(255,255,255, 1);
@black-color: rgba(0,0,0, 1);
@orange-color: rgba(246,162,42, 1);
@yellow-color: rgba(253,212,20, 1);
@lightgreen-color: rgba(214,224,68, 1);
@darkgreen-color: rgba(149,173,59, 1);

@success-color: rgba(77,77,77, 1);
@error-color: rgba(77,77,77, 1);
@link-color: rgba(77,77,77, 1);

// widths & heights
@header-height: 75px;
@socialfooter-height: 70px;
@contactfooter-height: 100px;
@header-footer-height: calc(@header-height + @contactfooter-height + @socialfooter-height + 20px);

// media querys
@small-screen-up: 601px;
@medium-screen-up: 993px;
@large-screen-up: 1201px;
@small-screen: 600px;
@medium-screen: 992px;
@large-screen: 1200px;

@medium-and-up: ~"only screen and (min-width: @{small-screen-up})";
@large-and-up: ~"only screen and (min-width: @{medium-screen-up})";

// fonts
@primary-font: 'OpenSans', 'Roboto', sans-serif;
@secondary-font: 'Montserrat';
@third-font: 'Magnolia';

// Magnolia Script
@font-face {
    font-family: Magnolia;
    src: url(fonts/Magnolia-Script.otf);
    font-weight: 300;
}

// Montserrat
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Italic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-MediumItalic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-SemiBold.ttf);
    font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-SemiBoldItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

// Open Sans
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Italic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Semibold.ttf);
    font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-SemiboldItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Bold.ttf);
    font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-BoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
