<mz-modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header *ngIf="postit">
    Schlachtbrett-Eintrag bearbeiten
  </mz-modal-header>
  <mz-modal-header *ngIf="!postit">
    Schlachtbrett-Eintrag hinzufügen
  </mz-modal-header>
  <mz-modal-content>
    <div>
      <form materialize [formGroup]="postitForm">
        <div class="row">
          <h6>Bild</h6>
          <div class="input-field col s12 form-group">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input id="postit-image" class="file-path validate" type="text" formControlName="imageUrl">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h6>Grunddaten</h6>
          <mz-input-container class="input-field col s12 m6 form-group">
            <input mz-input id="postit-name" type="text" formControlName="name" [label]="'Name'" [validate]="true">
          </mz-input-container>
          <mz-input-container class="input-field col s12 m6 form-group">
            <input mz-input id="postit-location" type="text" formControlName="location" [label]="'Location'" [validate]="true">
          </mz-input-container>
        </div>
        <div class="row">
          <h6>Beschreibung</h6>
          <mz-textarea-container>
            <textarea mz-textarea [label]="'Beschreibung'" id="postit-description" formControlName="description" length="150"></textarea>
          </mz-textarea-container>
        </div>
      </form>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="postit ? this.updatePostit(postit) : this.newPostit()" mz-modal-close>Speichern</button>
    <button mz-button [flat]="true" mz-modal-close>Abbrechen</button>
  </mz-modal-footer>
</mz-modal>
