<div class="row" *ngIf="(store.postits | postitConfirmedPipe: confirmed)">
  <ul>
    <li *ngFor="let postit of (store.postits | postitConfirmedPipe: confirmed)" class="col s12 m4 l3">
      <div class="card" (click)="selectPostit(postit)">
        <div class="card-image" *ngIf="postit.imageUrl">
          <img class="activator" src="assets/images/{{postit.imageUrl}}">
        </div>
        <div class="card-content">
          <div class="postit-location">
            <p class="truncate" *ngIf="postit.location">{{postit.location}}</p>
          </div>
          <h3 class="card-title truncate" *ngIf="postit.name">{{postit.name}}</h3>
          <p class="further-link">
            mehr lesen
            <i class="material-icons prefix">keyboard_arrow_right</i>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row" *ngIf="!(store.postits | postitConfirmedPipe: confirmed)">
  <p class="no-items-message">Derzeit gibt es leider keine aktuellen Angebote.</p>
</div>
