@import "../../assets/variables"; // mobile-first

admin-dashboard {
  .admin-nav {
    h3 {
      font-size: 18px;
      color: @orange-color;
    }

    ul.tabs {
      all: initial;
      .indicator {
        display: none;
      }
      li {
        all: initial;
        a {
          color: @primary-color;
          &.active {
            color: @orange-color;
          }
          &:hover {
            color: @lightgrey-color;
          }
        }
      }
    }
  }

  .admin-content {
    h4 {
      margin-top: 0;
    }
    .collection {
      border: 0;

      .collection-item {
        margin: 5px 0;

        .secondary-content {
          i {
            color: @orange-color;
          }
        }
      }
    }
  }
}

.add-btns {
  text-align: right;
  margin: 20px 0;
  .add-btn {
    background-color: transparent;
    color: @primary-color;
    border: 0;
    box-shadow: none;
    font-size: 12px;
    i {
      color: @orange-color;
    }
    &:hover{
      color: lighten(@primary-color, 30%);
      i {
        color: lighten(@orange-color, 10%);
      }
    }
  }
}
@media @medium-and-up {
  // styles for medium screens and larger
}
@media @large-and-up {
  // styles for large screens and up
}
