<mz-modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header class="truncate">
    {{postit.name}}
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col s12 m6 l4" *ngIf="postit.imageUrl">
        <img class="responsive-img circle" src="{{postit.imageUrl}}" alt="image">
      </div>
      <div class="col s12 m6 l6 offset-l2">
        <div *ngIf="vendor">
          <h5>Produzent</h5>
          <p class="truncate">{{vendor.name}}</p>
          <p [routerLink]="['/produzenten', vendor._id]" class="further-link">
            zum Produzenten
            <i class="material-icons prefix">keyboard_arrow_right</i>
          </p>
        </div>
        <div *ngIf="postit.location">
          <h5>Location</h5>
          <p class="truncate">{{postit.location}}</p>
        </div>
        <div *ngIf="postit.description">
          <h5>Beschreibung</h5>
          <p>{{postit.description}}</p>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer class="row">
    <div *ngIf="this.LoginStore.isAdmin()" class="col s9 m8">
      <button mz-button class="btn yellow" *ngIf="!postit.confirmed" [flat]="true" (click)="this.confirmPostit(postit)" mz-modal-close><i class="material-icons">done</i></button>
      <button mz-button class="btn yellow" [flat]="true" (click)="this.openUpdatePostitModal(postit)" mz-modal-close><i class="material-icons">mode_edit</i></button>
      <button mz-button class="btn yellow" [flat]="true" (click)="this.deletePostit(postit)" mz-modal-close><i class="material-icons">delete</i></button>
    </div>
    <div class="col s3 m4">
      <button mz-button class="btn orange right" [flat]="true" mz-modal-close><i class="material-icons">close</i></button>
    </div>
  </mz-modal-footer>
</mz-modal>
