<mz-modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    {{postit.name}}
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col s12 m6 l4">
        <img class="responsive-img" src="assets/{{postit.imageUrl}}" alt="image">
      </div>
      <div class="col s12 m6 l6 offset-l2">
        <div *ngIf="vendor">
          <h5>Wer</h5>
          <p>{{vendor.name}}</p>
        </div>
        <div>
          <h5>Wo</h5>
          <p>{{postit.location}}</p>
        </div>
        <div>
          <h5>Beschreibung</h5>
          <p>{{postit.description}}</p>
        </div>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close><i class="material-icons right">close</i></button>
    <div *ngIf="this.LoginStore.isAdmin()" class="left">
      <button mz-button *ngIf="!postit.confirmed" [flat]="true" mz-modal-close (click)="this.confirmPostit(postit)"><i class="material-icons right">done</i></button>
      <button mz-button [flat]="true" mz-modal-close (click)="this.openUpdatePostitModal(postit)"><i class="material-icons right">mode_edit</i></button>
      <button mz-button [flat]="true" mz-modal-close (click)="this.deletePostit(postit)"><i class="material-icons right">delete</i></button>
    </div>
  </mz-modal-footer>
</mz-modal>
