<div *ngIf="postit">
  <div class="row">
    <div class="col l6 m6 s12">
      <h4>{{postit.name}}</h4>
      <p>{{postit.description}}</p>
    </div>
    <div class="col l6 m6 s12">
      <img class="col l8 m8 s8 right" src="assets/dummy_img.jpg">
    </div>
  </div>
  <div class="row">
    <button *ngIf="this.LoginStore.isLoggedIn()" class="waves-effect waves-light btn" (click)="this.deletePostit(postit)">Löschen</button>
    <button *ngIf="this.LoginStore.isLoggedIn() && !postit.confirmed" class="waves-effect waves-light btn" (click)="this.confirmPostit(postit)">Bestätigen</button>
  </div>
  <div *ngIf="vendor" class="row">
    <vendor-short-info [vendor]="vendor"></vendor-short-info>
  </div>
</div>
